<!-- <div class="col-md-12" ng-controller="TicketsCtrl"> -->

<div ng-include="'partial/navbar/navbar.html'"></div>

<style>
    .square-border {
        border: 1px solid;
        border-radius: 0;
    }
</style>


<body style="background-color: rgb(242,243,247);" ng-controller="TicketsCtrl">
    <div class="container " style="background-color: white; width:730px; height:auto;  margin-top:67px;">
        <h5 class="mt-3 pt-2" style="color: rgb(102,118,123);">Change Password</h5>

        <section>
            <label class="mt-3" style="color: black;">Current Password <span style="color: red;">*</span></label>
            <div class="form-group">
                <input type="password" class="form-control mt-1 square-border" style="padding-right: 30px;" />
            </div>
        </section>

        <section>
            <label class="mt-3" style="color: black;">New Password <span style="color: red;">*</span></label>
            <div class="form-group">
                <input type="password" class="form-control mt-1 square-border" style="padding-right: 30px;" />
            </div>
        </section>

        <section>
            <label class="mt-3" style="color: black;">Confirm Password <span style="color: red;">*</span></label>
            <div class="form-group">
                <input id="password-input" type="password" class="form-control mt-1 square-border" />
                <span class="toggle-icon" onclick="togglePassword()"
                    style="position: absolute; top:317px; right: 340px; transform: translateY(-50%); cursor: pointer;">
                    <i id="toggle-icon" class="fa-solid fa-eye"></i>
                </span>
            </div>
        </section>

        <section style=" display: flex;justify-content: flex-end;">
            <div>
                <button type="button" style="height: 35px;" onclick="window.location.href='#!/home'"
                    class="btn btn-secondary my-3">Go Back</button>
                <button type="button" style="height: 35px;" class="btn btn-primary my-3">Update my password</button>
            </div>
        </section>

    </div>

</body>



</div>