<div ng-include="'partial/navbar/navbar.html'"></div>

<body ng-controller="DashboardCtrl";>
    <div style="background-color:rgb(242,243,247);">
        <div id="background" style="margin-top: 20px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title">Assigned</h5>
                                        <p class="card-text">178</p>
                                    </div>
                                    <div class="col">
                                        <h5 class="card-title">Resolved</h5>
                                        <p class="card-text">177</p>
                                    </div>
                                    <div class="col">
                                        <h6 class="card-title">Unresolved</h6>
                                        <p class="card-text">1</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title">unassigned</h5>
                                        <p class="card-text">178</p>
                                    </div>
                                    <div class="col">
                                        <h5 class="card-title">Pending</h5>
                                        <p class="card-text">1</p>
                                    </div>
                                    <div class="col">
                                        <h5 class="card-title text-danger">Overdue</h5>
                                        <p class="card-text">0</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title">Due Today</h5>
                                        <p class="card-text">0</p>
                                    </div>
                                    <div class="col">
                                        <h5 class="card-title">Due Tommorow</h5>
                                        <p class="card-text">0</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Navbar and Dropdowns -->
            <div class="container d-flex justify-content-between mt-4">
                <div class="dropdown me-2">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dateRangeDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false"
                        style="background-color: #ffffff; color: #000000;">
                        July 16, 2024 - July 16, 2024
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dateRangeDropdown">
                        <li><a class="dropdown-item" href="#">a</a></li>
                        <li><a class="dropdown-item" href="#">b</a></li>
                        <li><a class="dropdown-item" href="#">c</a></li>
                    </ul>
                </div>
                <div class="dropdown me-2">
                    <button class="btn btn-default dropdown-toggle" type="button" id="allgroup"
                        data-bs-toggle="dropdown" aria-expanded="false"
                        style="background-color: #ffffff; color: #000000;">
                        All Groups
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="allgroup">
                        <li><a class="dropdown-item" href="#">a</a></li>
                        <li><a class="dropdown-item" href="#">b</a></li>
                        <li><a class="dropdown-item" href="#">c</a></li>
                    </ul>
                </div>
                <button class="btn btn-default" ng-click="refreshData()"
                    style="background-color: #ffffff; color: #000000;" type="button">
                    <i class="bi bi-arrow-clockwise"></i>
                </button>
            </div>

            <!-- Chart and Data Display -->
            <div class="container">
                <div class="card mt-3" style="height: 680px;">
                    <h3 class="mt-4 mx-4">Assigned and Resolved</h3>
                    <div class="col-md-3 text-center">
                        <button type="button" id="bar" ng-click="buttontype('bar')" class="btn">
                            <i class="fa fa-bar-chart"></i>
                        </button>
                    </div>
                    <div class="col-md-3 text-center">
                        <button type="button" id="line" ng-click="buttontype('line')" class="btn">
                            <i class="fa fa-line-chart"></i>
                        </button>
                    </div>
                    <div class="row mx-2 mt-2">
                        <div class="col-md-4">
                            <table class="table table-bordered">
                                <tr>
                                    <td style="background-color: #e8e8e8; height: 89px;">
                                        <h6 class="card-title">Assigned</h6>
                                        <p class="card-text">0</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-4 mt">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td style="background-color: #e8e8e8;height: 89px;">
                                            <h6 class="card-title">Resolved in SLA</h6>
                                            <p class="card-text">0</p>
                                        </td>
                                        <td style="background-color: #e8e8e8;">
                                            <h6 class="card-title">Resolved Outside SLA</h6>
                                            <p class="card-text">0</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td style="background-color: #e8e8e8;">
                                            <h6 class="card-title">Avg Resolution Time</h6>
                                            <p class="card-text">0</p>
                                        </td>
                                        <td style="background-color: #e8e8e8;">
                                            <h6 class="card-title">Min Resolution Time</h6>
                                            <p class="card-text">0</p>
                                        </td>
                                        <td style="background-color: #e8e8e8;">
                                            <h6 class="card-title">MAX Resolution Time</h6>
                                            <p class="card-text">0</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div style="width: 65%;margin-top: 32px;margin-left: 150px;">
                        <canvas id="mybarchart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
