<div ng-controller="NavbarCtrl">
    <section>
        <div id="background">
            <nav class="navbar bg-primary navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand text-white d-flex" style="margin-top:2px" ui-sref="login">
                        <div class="fw-bold">raise</div>
                        <div>a</div>
                        <div class="fw-bold">ticket</div>
                        <span class="mx-2">|</span>
                        <div>DOTS</div>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <!-- Dashboard Link -->
                            <li class="nav-item mt-2">
                                <a class="nav-link active btn text-white" ui-sref="dashboard" aria-current="page">
                                    <i class="bi bi-house fw-bold"></i> Dashboard
                                </a>
                            </li>
                            <!-- Raise a Ticket Link -->
                            <li class="nav-item mt-2">
                                <a class="nav-link btn text-white" ui-sref="raiseAticket">
                                    <i class="bi bi-plus fw-bold"></i> Raise a ticket
                                </a>
                            </li>
                            <!-- Tickets Link -->
                            <li class="nav-item mt-2">
                                <a class="nav-link btn text-white" ui-sref="changePassword">
                                    <i class="bi bi-ticket fw-bold"></i> Tickets
                                </a>
                            </li>
                            <!-- Resources Link -->
                            <li class="nav-item mt-2">
                                <a class="nav-link btn text-white" ui-sref="resources">
                                    <i class="bi bi-journal fw-bold"></i> Resources
                                </a>
                            </li>
                            <!-- User Profile Popup -->
                            <li class="nav-item mt-2">
                                <a ng-click="open = !open" class="btn btn-primary">
                                    <i class="fa-regular fa-user"></i> Ijas
                                </a>                 
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </section>
</div>